:root {
  --accent-color: #2196F3;
  --primary-color: #757575;
  --header-logo-color: #000000;
  --main-title-color:#212121;
  --hero-title-color: #ffffff;
  --footer-tel-mail-text-color: rgba(255, 255, 255, 0.6);
  --hero-btn-color: #188CE8;
  --background-about-icon: #F5F4FA;
  --bg-overlay-work: rgba(47, 48, 58, 0.8);
  --bg-overlay-filter:rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --backdrop-btn:rgba(0, 0, 0, 0.1);
  --social-icon: #AFB1B8;
  --second-background-color:#F5F4FA;
  --main-background-color: #2F303A;
  --border-color: #ECECEC;
  --border-color-filter: #EEEEEE;
  --box-shadow-comand:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --modal-shadow:0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow:0px 4px 4px rgba(0, 0, 0, 0.15);
  --timer: 250ms;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-email:rgba(255, 255, 255, 0.3);
  --btn-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --content-placeholder:rgba(117, 117, 117, 0.5);
}

body {
  font-family: "Roboto",sans-serif;
  color: var(--primary-color);
  background-color: var(--hero-title-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-backdrop);
  z-index: 1;
  -webkit-transition: opacity 600ms var(--cubic-bezier), visibility 600ms var(--cubic-bezier);
  transition: opacity 600ms var(--cubic-bezier), visibility 600ms var(--cubic-bezier);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--hero-title-color);
  border-radius: 4px;
  -webkit-box-shadow: var(--modal-shadow);
          box-shadow: var(--modal-shadow);
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

.modal__btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50% 50%;
  background-color: var(--hero-title-color);
  border: 1px solid var(--backdrop-btn);
  cursor: pointer;
  -webkit-transition: outline 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
  transition: outline 250ms var(--cubic-bezier), color 250ms var(--cubic-bezier);
}

.modal__btn:focus {
  outline: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.modal__btn:hover {
  color: var(--accent-color);
}

.modal__icon {
  fill: currentColor;
}

/* ------------form-------------------- */
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.modal-form__field {
  display: block;
  margin-bottom: 10px;
}

.modal-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-color);
  -webkit-transition: border-color 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier);
  cursor: pointer;
}

.modal-form__relative {
  position: relative;
  color: var(--main-title-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid var(--modal-border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  -webkit-transition: border-color 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
}

.modal-form__input:focus {
  outline: 1px solid var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

/* ----------------- */
.modal-form__textarea {
  margin-bottom: 20px;
  display: block;
}

.modal-form__coment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid var(--modal-border-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  -webkit-transition: border-color 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
  transition: border-color 250ms var(--cubic-bezier), outline 250ms var(--cubic-bezier);
}

.modal-form__coment:focus {
  outline: 1px solid var(--accent-color);
}

.modal-form__coment::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--content-placeholder);
}

.modal-form__coment:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--content-placeholder);
}

.modal-form__coment::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--content-placeholder);
}

.modal-form__coment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--content-placeholder);
}

/* ------checkbox------------------- */
.modal-form__checbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form__check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  border: 2px solid var(--main-title-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier), border 250ms var(--cubic-bezier);
  cursor: pointer;
  outline: none;
}

.modal-form__checbox:focus + .modal-form__check {
  border: 2px solid var(--accent-color);
}

.modal-form__checbox:checked + .modal-form__check {
  background-color: var(--accent-color);
  border: none;
}

.modal-form__check-icon {
  fill: transparent;
  -webkit-transition: fill 250ms var(--cubic-bezier);
  transition: fill 250ms var(--cubic-bezier);
}

.modal-form__checbox:checked + .modal-form__check .modal-form__check-icon {
  fill: var(--hero-title-color);
}

.modal-form__checkbox-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.modal-form__checkbox-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 4px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
  outline: none;
  -webkit-transition: outline 250ms var(--cubic-bezier);
  transition: outline 250ms var(--cubic-bezier);
}

.modal-form__checkbox-link:focus {
  outline: 2px solid var(--accent-color);
  border-radius: 2px;
}

.modal-checkbox-link:focus {
  outline: 2px solid var(--accent-color);
  border-radius: 2px;
}

/* -------btn---------------------- */
.modal-form__btn {
  width: 200px;
  height: 50px;
  margin: 0px auto;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  border: 0;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--cubic-bezier);
  transition: background-color 250ms var(--cubic-bezier);
  cursor: pointer;
}

.modal-form__btn:focus {
  background-color: var(--hero-btn-color);
}

.modal-form__btn:hover {
  background-color: var(--hero-btn-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.09;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.adress {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about__icon, .work__text, .social-network__link, .clients__link, .join__link, .subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list .header__link.current {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo--black {
  color: var(--header-logo-color);
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-logo-color);
  -webkit-transition: color var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link.current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contacts__item + .header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  -webkit-transition: color var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}

.header-contacts__icon-convert {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header-contacts__icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.hero__btn {
  border-radius: 4px;
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
  font-style: normal;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: var(--hero-title-color);
  cursor: pointer;
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier), box-shadow var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier), box-shadow var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
  cursor: pointer;
}

.hero__btn:focus, .hero__btn:hover {
  background-color: var(--hero-btn-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  width: 270px;
}

.about__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.about__icon {
  width: 270px;
  height: 120px;
  background-color: var(--background-about-icon);
  margin-bottom: 30px;
  border-radius: 4px;
}

.about__pre-text {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.about__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work {
  padding-top: 0;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
}

.work__item {
  position: relative;
}

.work__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.work__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  background: var(--bg-overlay-work);
}

.comand {
  background-color: var(--second-background-color);
}

.comand__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
  color: var(--main-title-color);
}

.comand__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comand__item {
  background-color: var(--hero-title-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--box-shadow-comand);
          box-shadow: var(--box-shadow-comand);
}

.comand__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.comand__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.comand__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
}

.comand__work {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 32px;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  width: 44px;
  height: 44px;
  color: var(--social-icon);
  -webkit-transition: background-color var(--timer) var(--cubic-bezier), border-radius var(--timer) var(--cubic-bezier), color var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier), border-radius var(--timer) var(--cubic-bezier), color var(--timer) var(--cubic-bezier);
}

.social-network__link:hover, .social-network__link:focus {
  background-color: var(--accent-color);
  border-radius: 50% 50%;
  color: var(--hero-title-color);
}

.social-network__icon {
  fill: currentColor;
}

.clients__title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: calc(100% / 6 -30px);
      flex-basis: calc(100% / 6 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: var(--social-icon);
  -webkit-transition: color var(--timer) var(--cubic-bezier), border-color var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier), border-color var(--timer) var(--cubic-bezier);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--main-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer--logo {
  display: block;
  margin-bottom: 20px;
}

.logo--white {
  color: var(--hero-title-color);
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress--white {
  color: var(--hero-title-color);
  -webkit-transition: color var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier);
}

.adress--white:hover, .adress--white:focus {
  color: var(--accent-color);
}

.adress--gray {
  color: var(--footer-tel-mail-text-color);
  -webkit-transition: color var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier);
}

.adress--gray:hover, .adress--gray:focus {
  color: var(--accent-color);
}

/* --------------------------- */
.join {
  margin-left: 70px;
}

.join__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.join__link {
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--hero-title-color);
  -webkit-transition: background-color var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier);
}

.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: currentColor;
}

/* -----------------subscribe----------------- */
.subscribe {
  margin-left: auto;
}

.subscribe__text {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  margin-right: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid var(--btn-email);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: var(--btn-filter);
          filter: var(--btn-filter);
  border-radius: 4px;
  background-color: transparent;
  color: var(--footer-tel-mail-text-color);
}

.subscribe__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: var(--footer-tel-mail-text-color);
}

.subscribe__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--footer-tel-mail-text-color);
}

.subscribe__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: var(--footer-tel-mail-text-color);
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--footer-tel-mail-text-color);
}

.subscribe__btn {
  width: 200px;
  height: 50px;
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background: var(--accent-color);
  border: 0;
  border-radius: 4px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: background-color var(--timer) var(--cubic-bezier);
  transition: background-color var(--timer) var(--cubic-bezier);
  cursor: pointer;
}

.subscribe__btn:focus, .subscribe__btn:hover {
  background-color: var(--hero-btn-color);
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.filter-btn__list .filter-btn__btn.current {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.filter-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-btn__item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn__btn {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-title-color);
  background-color: var(--second-background-color);
  cursor: pointer;
  -webkit-transition: color var(--timer) var(--cubic-bezier), background-color var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier), background-color var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier), background-color var(--timer) var(--cubic-bezier), box-shadow var(--timer) var(--cubic-bezier);
  transition: color var(--timer) var(--cubic-bezier), background-color var(--timer) var(--cubic-bezier), box-shadow var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
}

.filter-btn__btn:hover, .filter-btn__btn:focus {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.filter__item {
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid var(--border-color-filter);
  background-color: var(--hero-title-color);
}

.filter__link {
  display: block;
  background-color: var(--hero-title-color);
  -webkit-transition: -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: -webkit-box-shadow var(--timer) var(--cubic-bezier);
  transition: box-shadow var(--timer) var(--cubic-bezier);
  transition: box-shadow var(--timer) var(--cubic-bezier), -webkit-box-shadow var(--timer) var(--cubic-bezier);
}

.filter__link:focus, .filter__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.filter__link:hover .filter-overlay__text,
.filter__link:focus .filter-overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter-overlay {
  position: relative;
  overflow: hidden;
}

.filter-overlay__text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--timer) var(--cubic-bezier);
  transition: -webkit-transform var(--timer) var(--cubic-bezier);
  transition: transform var(--timer) var(--cubic-bezier);
  transition: transform var(--timer) var(--cubic-bezier), -webkit-transform var(--timer) var(--cubic-bezier);
}

.filter-box {
  padding: 20px 24px;
}

.filter-box__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.filter-box__after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
/*# sourceMappingURL=main.css.map */