.filter__list{
    display: flex;
    flex-wrap: wrap;

    margin-left: -30px;
    margin-top: -30px;
}
.filter__item{
    margin: 0;
    padding: 0;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
   
    border: 1px solid var(--border-color-filter);   
    background-color: var(--hero-title-color);
   
}
.filter__link {
    display: block;
    background-color: var(--hero-title-color);
    transition:  box-shadow var(--timer) var(--cubic-bezier);

    &:focus,
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        opacity: 1;
    }

    &:hover .filter-overlay__text,
    &:focus .filter-overlay__text{
        transform: translateY(0);       
    }

}
.filter-overlay{
    position: relative;
    overflow: hidden;
}
.filter-overlay__text{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;

    @include font(400, 18px, 1.56, 0.03em);

    color: var(--hero-title-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform var(--timer) var(--cubic-bezier);
}


.filter-box{
    padding: 20px 24px;
}
.filter-box__title {
    margin-bottom: 4px; 

    font-style: normal;
    @include font(700, 18px, 2, 0.06em);

    color: var(--main-title-color);
}
.filter-box__after-title {
    @include font(400, 16px, 1.87, 0.03em);

    color: var(--primary-color);
}
