.header__list .header__link.current {
  color: var(--accent-color);
}
.header {
  border-bottom: 1px solid var(--border-color);
}
.header__container {
  display: flex;
  // display: none;
  align-items: center;
}
.header__navigation {
  display: none;
  align-items: center;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header--logo {
  margin-right: 93px;
  padding: 16px 0;
  @media screen and (min-width: $tablet) {
    padding: 26px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 24px 0;
  }
}
.logo--black {
  color: var(--header-logo-color);
}

.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @include font(500, 14px, 1.14, 0.02em);

  color: var(--header-logo-color);

  transition: color var(--timer) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.header-contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: block;
    padding: 21px 0;
    // &:not(:last-child) {
    //   margin-bottom: 10px;
    // }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    &__item + &__item {
      margin-left: 50px;
    }
  }
}
.header-contacts__link {
  display: flex;
  align-items: center;

  @include font(500, 14px, 1.14, 0.02em);
  color: var(--primary-color);
  transition: color var(--timer) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header-contacts__icon-convert {
  margin-right: 10px;

  width: 16px;
  height: 12px;
  fill: currentColor;
}
.header-contacts__icon-smartphone {
  margin-right: 10px;

  width: 10px;
  height: 16px;
  fill: currentColor;
}
// -------------------menu---------------
.header-btn-menu {
  display: inline-flex;
  margin: 0;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  background-color: var(--hero-title-color);
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  padding: 48px 40px;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
.header-btn-cross {
  position: absolute;
  display: inline-flex;
  right: 15px;
  top: 10px;
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
}
.header_icon-cross {
  fill: currentColor;
  transition: fill 250ms var(--cubic-bezier);

  .header-btn-cross:focus + & {
    color: var(--accent-color);
  }
}

.mob-menu__link {
  font-family: Roboto;
  @include font(500, 40px, calc(47 / 40), 0.02em);

  color: var(--main-title-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
// ---------
.mob-menu-contacts-1__item {
  margin-bottom: 32px;
}
.mob-menu-contacts-2__item {
  margin-bottom: 64px;
}
.mob-menu-contacts-1__link {
  font-family: Roboto;
  @include font(500, 34px, calc(40 / 34), 0.02em);
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu-contacts-2__link {
  font-family: Roboto;
  @include font(500, 24px, calc(28 / 24), 0.02em);

  color: var(--primary-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// ------------
.mob-menu-network {
  display: flex;
}
.mob-menu-network__item {
  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-menu-network__link {
  font-family: Roboto;
  @include font(500, 18px, calc(22 / 18), 0.02em);

  color: var(--accent-color);
}
